<style>
  .fa{
    display: inline-table;
  }
</style>
<table class="table table-striped table-hover" style="text-align: center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variedad</th>
      <th scope="col">N° de Matas</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let V of service.list">
      <td (click)="populateForm(V)">{{ V.nombre }}</td>
      <td (click)="populateForm(V)">{{ V.total_matas }}</td>
      <td><i (click)="onDelete(V.id)" class="borrar fa fa-trash"></i></td>
    </tr>
  </tbody>
</table>
