<header class="cabecera"><i class="fa fa-angle-right"> </i>Inicio</header>

<div class="fondo">
  <div class="modelHome">
    <h1>
      <img src="../../assets/images/rosa2.png" alt="Logo"><br>
      AgroFlorWeb
    </h1><br><br>

    <p>
      Una aplicación web de la cual se puede extraer reportes de productividad
      y costo de producción en un determinado periodo de tiempo, en base a las
      variedades de rosas dentro de una florícola mediante el registro de datos
      relevantes a la producción de las mismas.
    </p>
  </div>

</div>
